body {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    background-color: rgb(39, 45, 48);
}

.container {
    text-align: center;
    width: 300px;
    height: 300px;
    transform: translate(10%);
}


ul {
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 2px;
    width: max-content;
}

a {
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 2px;
    width: max-content;
}

ul:hover {
    cursor: pointer;
}

.test:hover {
    background-color: rgb(63, 63, 63) !important;
    border-radius: 15px;
}